.yr-info-section
  display: -webkit-flex
  display: -ms-flex
  display: flex
  align-items: center
  justify-content: flex-start
  height: 100%

.awards__container
  margin-right: 100px

.yr-brending
  h2,
  h1
    margin: 0

.brending__h2
  font-size: $h2-43
  font-weight: bold
  color: $accent

.brending__h1
  font-size: $h1
  font-weight: bold

.awards__img
  width: 60%

.yr-awards
  margin-top: 100px
