.yr-about
  .uk-container
    *
      float: right

.yr-about-section
  position: relative

.yr-about-section--info
  display: -webkit-flex
  display: -ms-flex
  display: flex
  flex-direction: column

.yr-flex-container
  display: -webkit-flex
  display: -ms-flex
  display: flex
  flex-direction: column

.yr-about__parallax-container
  padding: 0
  padding-left: -1px
  position: absolute
  top: 0
  left: 50px
  width: calc(50% - 80px)

  .uk-background-cover
    width: 100%
    position: absolute
    left: 20px
    height: auto

.yr-about-grid
  position: relative

.yr-svg
  width: 120%
  height: 180%

.yr-mobile-portret
  height: 90px
  width: 90px
  background-size: 110%
  background-repeat: no-repeat
  background-position: 0 0

.yr-mobile-container
  flex-direction: column
  display: -webkit-flex
  display: -ms-flex
  display: flex

.yr-about__content--mobile-button
  margin-top: 30px

.yr-about-first-content
  display: -webkit-flex
  display: -ms-flex
  display: flex
  justify-content: center
  align-items: flex-end

  .yr-portret-wrapper
    width: 95%
    position: relative
    z-index: 5
    margin-top: 180px

    .yr-about-portret
      position: static
      width: 100%

.yr-about-checks
  z-index: 5
  display: -webkit-flex
  display: -ms-flex
  display: flex
  flex-direction: column
  justify-content: flex-end

.yr-green-text
  font-size: 1.3125rem
  color: $accent
  margin: 0

.yr-personal-wrapper
  width: 100%

.yr-about-me
  width: 100%
  margin-top: 190px

  .yr-about-child
    position: relative
    z-index: 5
    align-items: center

.yr-check-p
  font-size: 1.125rem

.yr-about-heading
  width: 90%
  position: relative
  z-index: 5

.yr-check-list
  width: 100%
  margin-bottom: 0
  margin-top: 10px

  li
    display: -webkit-flex
    display: -ms-flex
    display: flex
    align-items: center
    justify-content: flex-start
    line-height: 1.25
    position: relative
    padding-right: 40px

    &::after
      content: ""
      height: 26px
      width: 26px
      position: absolute
      right: 0
      top: 0px
      background-image: url(../img/icons/bullet.png)
      background-repeat: no-repeat
      background-position: 0 0

    img
      width: 100%

.yr-mobile-flex
  display: -webkit-flex
  display: -ms-flex
  display: flex

.yr-mobile-flex--column
  flex-direction: column

.yr-parallax
  background-position: 20px 100px

.yr-about__heading
  font-size: 3.125rem
  padding-right: 20px
  position: relative
  margin: 0

  &::after
    content: ""
    width: 3px
    background: $accent
    height: 60%
    position: absolute
    right: 0
    top: 50%
    transform: translate(-50%, -50%)

.yr-about__content--quote
  border: 1px solid #ebebeb
  border-left: none
  border-right: none

.yr-green-text--no
  color: #636476

.yr-about__content
  padding-right: 2vw
  width: 80%

  .yr-green-text--info
    width: 100%

  .yr-green-text
    margin-bottom: 30px

  .yr-about-quote
    font-style: italic
    line-height: 1.5
    font-size: 1.125rem
    padding-right: 4vw
    position: relative
    margin: 30px 0

    &::after
      content: ""
      position: absolute
      width: 50px
      height: 40px
      right: 0
      top: 0
      background-repeat: no-repeat
      background-size: cover
      background-image: url(../img/icons/quote.png)

.yr-about-p-container
  display: -webkit-flex
  display: -ms-flex
  display: flex
  padding-right: 4vw

.yr-signature
  margin-left: 20px
  position: relative

.yr-p
  color: #3d3d3d
  font-size: 1.125rem
  line-height: 1.44
  margin-bottom: 20px

.yr-about-content-container
  display: -webkit-flex
  display: -ms-flex
  display: flex
  flex-direction: column
  margin: 20px 0

  .yr-p
    margin: 10px

.uk-button.yr-button.yr-button--about
  height: 55px
  display: -webkit-flex
  display: -ms-flex
  display: flex
  align-items: center
  justify-content: reverse

.yr-test
  height: 100%
