.yr-testimonials
  width: 100%
  background-image: url(../img/bg/bg_testimonials.jpg)
  background-repeat: no-repeat
  background-size: cover

.uk-container--testimonials
  display: -webkit-flex
  display: -ms-flex
  display: flex
  justify-content: center

.yr-testimonial__logo-wrapper
  min-height: 130px
  display: -webkit-flex
  display: -ms-flex
  display: flex
  align-items: center
  justify-content: center

.yr-logos-wrapper
  display: -webkit-flex
  display: -ms-flex
  display: flex
  width: 95%

.yr-testimonials__item-wrapper
  min-height: 201px
  background: $white
  display: -webkit-flex
  display: -ms-flex
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  padding: 15px
  border-radius: 10px
  box-shadow: 0px -3px 59px 0 rgba(0, 0, 0, 0.51)

.yr-testimonial__a
  position: relative
  font-size: 1.125rem
  color: #202b2f
  line-height: 1.44
  font-weight: 700
  margin-top: 20px
  transition: 0.5s
  padding-right: 25px

  &:hover
    color: $accent
    transition: 0.5s

  &::after
    content: ""
    position: absolute
    top: 50%
    transform: translate(-50%, -50%)
    right: 0
    height: 10px
    width: 10px
    background: $accent

.yr-green-text--testimonials
  color: $white

p.yr-green-text--testimonials
  margin: 30px 0

.yr-testimonials__section
  position: relative

.test-wrapper
  width: 100%

.owl-carousel
  height: 200px

.owl-stage-outer
  height: 200px

  .item
    background: #000

.yr-about-quote--testimonial
  color: #202b2f
  line-height: 1.5
  font-size: 1.125rem
  font-style: italic

.yr-testimonial
  max-height: 200px
  max-width: 200px
  height: 200px
  width: 200px
