// @import "_mixins/font-face"

@font-face
  font-family: "almoni-dl-aaa-300"
  src: url("fonts/AlmoniDLAAA/AlmoniDLAAARegular/almoni-dl-aaa-regular.otf") format("otf")
  font-style: normal
  font-weight: normal
