.container
	+wrapper()

.row
	+row-flex()

@media screen and (max-width: 1700px)

	.yr-check-list
		margin: 0

	.yr-mobile-flex
		margin: 0
		margin-bottom: 10px

	.yr-about-first-content
		.yr-portret-wrapper
			margin-top: 180px

	.contacts__title
		margin-right: 0

	.yr-header-form
		justify-content: center

	.yr-button
		width: 160px
		margin-top: 20px

	.uk-button.yr-button.yr-button--about
		width: auto

	.awards__container
		margin-top: -150px

	.yr-button__form
		.yr-button
			margin-top: 0

		input
			text-align: right

@media screen and (max-width: 1600px)

	.yr-button
		width: 140px
		margin-top: 0

	.awards__container
		margin-top: -50px

	.header-contacts__container--mobile
		border-bottom: 1px solid $accent

	.yr__logo-wrapper
		display: -webkit-flex
		display: -ms-flex
		display: flex
		justify-content: center

	// h2,
	// .contacts__h2
	// 	font-size: 2rem

@media screen and (max-width: 1450px)

	html
		font-size: 11.5px

	.yr-button
		width: 160px
		margin-top: 20px

@media screen and (max-width: 1200px)

	.yr-about__content .yr-about-quote,
	.yr-about-p-container
		padding-right: 50px

	.uk-button.yr-button.yr-button--about
		position: static

	.yr-panel-mobile.uk-grid-small.uk-grid-divider
		margin-right: 0

	.yr-button
		margin: 0

	.yr-header-h4-label
		text-align: center

	.yr-header-form
		display: -webkit-flex
		display: -ms-flex
		display: flex
		align-items: center
		justify-content: center

		&:before
			display: none !important

	.yr-header-form--contacts

		&::after
			content: ""
			position: absolute
			bottom: 0
			left: 50%
			height: 1px
			width: 80%
			background: $accent
			transform: translate(-50%, -50%)

	.awards__container
		margin: 0

	.yr-info-section
		display: -webkit-flex
		display: -ms-flex
		display: flex
		align-items: center
		justify-content: center

	.yr-brending
		h2,
		h1
			text-align: center

	.yr-awards
		display: -webkit-flex
		display: -ms-flex
		display: flex
		justify-content: center

	.yr-burger__wrapper
		min-height: 60px
		background: $green-lighter
		border-left: 1px solid darken($green-lighter, 10%)

	.yr__logo-wrapper
		justify-content: flex-end

	.yr__logo-wrapper
		.yr-logo
			padding-top: 10px

	.yr-advantage

	  &:nth-child(2)
	    border-left: 1px solid $accent

@media screen and (max-width: 960px)

	.yr-container--advantages
		padding: 0

	.yr-advantage
		border: none
		border-bottom: 1px solid $accent
		flex-direction: row
		justify-content: flex-start
		margin: 0 !important
		padding: 10px 20px
		align-items: center

		.yr-advantage-p
			margin: 0
			margin-right: 20px

		&:last-child,
		&:nth-child(2),
			border: none

		&:nth-child(2)
			border-bottom: 1px solid $accent

	.yr-about-me
		margin: 0

	.yr-sidebar__icon
		width: 55px
		height: 55px
		padding: 20px
		padding-bottom: 10px

		svg
			width: 55px
			height: 55px

	.yr-header-info
		height: 60vh

	.yr__logo-wrapper
		justify-content: flex-end

		a
			display: -webkit-flex
			display: -ms-flex
			display: flex
			justify-content: flex-end

	.yr-sidebar-section
		justify-content: center

	.yr-sidebar__title
		justify-content: center

		.yr-sidebar__h3
			text-align: center

	.yr-sidebar
		display: -webkit-flex
		display: -ms-flex
		display: flex
		flex-wrap: wrap

		.sidebar__title-h4
			display: none

	.yr-sidebar__title
		width: 100%

	.yr-section-container
		flex-direction: column
		justify-content: center
		align-items: center

	.yr-sidebar-section
		width: 50%

		&::before
			display: none

		// .sidebar__title-h3
		// 	font-size: 1.5rem

@media screen and (max-width: 780px)

	// Display none/block elements

	.yr__burger
		display: flex

	// Media styles

	.yr-info-section
		align-items: flex-end

	.awards__container
		margin-bottom: 20px

	.yr-awards
		.awards__img
			height: 50px

			&:first-child
			  height: 60px

	.brending__h1
		color: $white

	.yr__logo-wrapper
		width: 100%

		a
			width: 80%

			.yr-logo
				width: 100%
				height: 100%
				float: left

	.parallax
		position: static

	.yr-about__content .yr-green-text--info
		width: 100%

@media screen and (max-width: 640px)

	.yr-check-list
		width: 100%

	.yr-about-heading
		display: -webkit-flex
		display: -ms-flex
		display: flex
		flex-direction: row
		width: 100%

	.yr-about-checks
		width: 100%
		overflow: hidden

		.yr-about-portret
			max-width: 90px
			max-height: 90px
			width: 100%

	.yr-mobile-container
		display: -webkit-flex
		display: -ms-flex
		display: flex
		flex-direction: column
		justify-content: center

	.yr-signature
		width: 90px

	.yr-mobile-w
		width: 100%
		margin: 10px 0
		margin-bottom: 0

	.yr-personal-wrapper
		margin: 0
		display: -webkit-flex
		display: -ms-flex
		display: flex
		flex-direction: row
		align-items: center
		justify-content: flex-start
		margin-bottom: 30px

	.yr-about__content
		padding: 0
		width: 100%

	.yr-about-child
		padding-right: 0

	.yr-mobile-portret
		margin-left: 20px

	.yr-mobile-flex
		display: -webkit-flex
		display: -ms-flex
		display: flex

	.yr-about__content .yr-about-quote::after
		top: 20px

	.yr-about__content--quote
		position: relative
		width: 100%

	.yr-about-p-container
		flex-direction: column

	.yr-about__content .yr-about-quote
		margin-bottom: 0

	.yr-about__content .yr-about-quote
		position: static
		width: auto

	.yr__mobile-nav
		width: 95%

	.yr-p--about
		width: auto

	.yr-check-list
		li
			width: 60%
			margin-bottom: 20px

// Tabs

@import "_components/_tabs/tabs--media"

// Sliders

@import "_components/_sliders/full-width-slider--media"
@import "_components/_sliders/full-width-card-slider--media"
@import "_components/_sliders/full-width-margin-slider--media"
@import "_components/_sliders/full-width-caption-slider--media"
@import "_components/_sliders/full-width-product-slider--media"

// Slideshows

@import "_components/_slideshows/slideshow--overlays-media"
@import "_components/_slideshows/slideshow--overlays-sides-media"
@import "_components/_slideshows/slideshow--parallax-media"
@import "_components/_slideshows/slideshow--zoom-media"

// Countdown

@import "_components/_countdown/countdown--media"

// Lightbox

@import "_components/_lightboxes/lightbox--caption-media"
@import "_components/_lightboxes/lightbox--fade-media"
@import "_components/_lightboxes/lightbox--no-caption-media"
@import "_components/_lightboxes/lightbox--scale-media"
@import "_components/_lightboxes/lightbox--slide-media"

// Lists

@import "_components/_lists/list--bullet-media"
@import "_components/_lists/list--divider-media"
@import "_components/_lists/list--striped-media"

// Markers

@import "_components/_markers/markers--media"

// Modals

@import "_components/_modals/modal--full-media"
@import "_components/_modals/modal--media"

// Notifications

@import "_components/_notifications/notifications--media"

// Overlays

@import "_components/_overlays/overlays--media"

// Pagination

@import "_components/_pagination/pagination--media"
@import "_components/_pagination/pagination-next-prev-media"

// Parallax

@import "_components/_parallax/parallax--background-media"

// Leader

@import "_components/_leader/leader--media"

// Filter

@import "_components/_filter/filter--media"

// Dropdown

@import "_components/_dropdown/dropdown--offset-media"
@import "_components/_dropdown/dropdown--media"

// Accordion

@import "_components/_accordion/accordion--media"

// Sidebar

@import "_components/_sidebar/sidebar--fixed-media"
