.alphabet-filter
  display: -webkit-flex
  display: -ms-flex
  display: flex
  flex-wrap: wrap
  width: 100%
  margin-top: 20px

.milon__p-wrapper
  height: 60px
  overflow: hidden

  p
    word-wrap: break-word
    margin: 0

.letter
  background: #f6f6f6
  border-radius: 100px
  display: -webkit-flex
  display: -ms-flex
  display: flex
  align-items: center
  justify-content: center
  transition: 0.5s
  margin-left: 10px
  margin-bottom: 10px

  &:hover
    background: $accent
    transition: 0.5s

    a
      color: #fff

  a
    height: 35px
    width: 35px
    display: -webkit-flex
    display: -ms-flex
    display: flex
    align-items: center
    justify-content: center
    color: #212230

  p
    font-size: 1.25rem
    margin: 0

.milons
  display: -webkit-flex
  display: -ms-flex
  display: flex
  flex-direction: column

.milon
  padding-bottom: 20px
  border-bottom: 1px solid #f6f6f6
  margin-top: 30px !important

.milon__a
  font-size: 1.5rem
  color: #212230
  font-weight: 700
  line-height: 0.95
  transition: 0.5s

  &:hover
    color: $accent
    transition: 0.5s

.milon-date-wrapper
  width: 100%
  display: -webkit-flex
  display: -ms-flex
  display: flex

.blog-date
  background: #f6f6f6
  padding: 0 10px
  margin: 20px 0
