@import "_plugins/animate"
// @import "_plugins/_custom-animations"
@import "vars"
@import "libs"

/* Components */

@import "_components/buttons"

a,
a:hover,
a:active,
a:focus
	underline: none
	text-decoration: none

body
	overflow-x: hidden

html,
body,
h1,
.uk-h1,
h2,
.uk-h2,
h3,
.uk-h3,
h4,
.uk-h4,
h5,
.uk-h5,
h6,
.uk-h6,
pre code,
.uk-navbar-nav > li > a,
.uk-navbar-item,
.uk-navbar-toggle,
.uk-logo
	font-family: $default-font

h2
	font-size: $h2

h3
	font-size: $h3

h4
	font-size: $h4

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	background: #fff
	font-size: 16px
	line-height: 1.65

	input,
	textarea
		border: #666 1px solid
		outline: none

		&:focus:required:invalid
			border-color: red

			&:required:valid
				border-color: violet

.img-responsive
	display: block
	height: auto
	max-width: 100%

.yr-bold
	font-weight: bold

a:focus,
a:active
	outline: none

.yr-container
	width: 100%
	max-width: 100%

// Fix of full modal paddings

.uk-modal-full
	padding: 0

// Float contact form ( float button )

.yr-float-button__wrapper--open
	right: 100px
	transition: 0.5s

.yr-float-contact-form
	background: $accent
	height: 60px
	position: absolute
	right: 0
	top: 0
	transition: 0.5s
	border-radius: 100px
	opacity: 0

.yr-float-contact-form--close
	width: 0
	display: none
	opacity: 0

.yr-float-contact-form--open
	width: 400px
	display: block
	opacity: 1
	transition: 0.5s

.yr-float-contact-form-close
	background: #000
	border-radius: 100px
	display: none
	height: 40px
	position: absolute
	right: -90px
	top: 51%
	transform: translate(-50%, -50%)
	width: 40px

.yr-float-contact-form-close--visible
	display: block
	opacity: 1
	transition: 0.5s

.no-pulse
	animation: none

	&::before
		display: none

.yr-shadow-inset
	-webkit-box-shadow: inset 3px 0px 5px 0px rgba(0,0,0,0.75)
	-moz-box-shadow: inset 3px 0px 5px 0px rgba(0,0,0,0.75)
	box-shadow: inset 3px 0px 5px 0px rgba(0,0,0,0.75)

.carousel-nav
	display: -webkit-flex
	display: -ms-flex
	display: flex

	.arrow
		height: 50px
		width: 50px
		border: solid 3px $white
		display: -webkit-flex
		display: -ms-flex
		display: flex
		align-items: center
		justify-content: center
		color: $accent
		border-radius: 100px
		margin-left: 10px
		transition: 0.5s
		font-size: 0.8rem

		&:last-child
			margin: 0

		&:hover
			background: $white
			transition: 0.5s
			cursor: pointer

.yr-p-bold
	font-size: 1.25rem
	font-weight: 700
	line-height: 1.35
	color: #202b2f
	letter-spacing: normal

/* Header */

@import "_components/_header/header"

/* About me section */

@import "_components/_about-me-section/about"

/* Advantage section */

@import "_components/_advantage-section/advantage-section"

/* Testimonials section */

@import "_components/_testimonials-section/testimonials-section"

/* Sertificaions section */

@import "_components/_sertifications-section/sertification-section"

/* Partners section */

@import "_components/_partners-section/partners-section"

/* Contacts section */

@import "_components/_contacts-section/contacts-section"

/* Contacts section */

@import "_components/_page/page"

/* Contacts section */

@import "_components/footer"

/* Article */

@import "article"

/* Project page */

@import "project-page"

/* Team page */

@import "about"


/* Testimonials page */

@import "testimonials"

/* Contacts page */

@import "contacts"

/* Milon page */

@import "milon"

/* Questions page */

@import "questions"

/* News page */

@import "news"

/* Thanks page */

@import "thanks"


// //Cart
// @import "_components/_header/cart"

//Tabs
@import "_components/_tabs/tabs"

//Forms

@import "_components/_forms/header-form"

// Sliders
@import "_components/_sliders/full-width-slider"
@import "_components/_sliders/full-width-margin-slider"
@import "_components/_sliders/full-width-card-slider"
@import "_components/_sliders/full-width-caption-slider"
@import "_components/_sliders/full-width-product-slider"

// Slideshows

@import "_components/_slideshows/slideshow--overlays"
@import "_components/_slideshows/slideshow--overlays-sides"
@import "_components/_slideshows/slideshow--parallax"
@import "_components/_slideshows/slideshow--zoom"

// Countdown ( timer )

@import "_components/_countdown/countdown"

//Lightboxes

@import "_components/_lightboxes/lightbox--caption"
@import "_components/_lightboxes/lightbox--fade"
@import "_components/_lightboxes/lightbox--no-caption"
@import "_components/_lightboxes/lightbox--scale"
@import "_components/_lightboxes/lightbox--slide"

//Lists

@import "_components/_lists/list--bullet"
@import "_components/_lists/list--divider"
@import "_components/_lists/list--striped"

// Markers

@import "_components/_markers/markers"

// Modals

@import "_components/_modals/modal--full"
@import "_components/_modals/modal"

// Notifications

@import "_components/_notifications/notifications"

// Overlays

@import "_components/_overlays/overlays"

// Pagination

@import "_components/_pagination/pagination"
@import "_components/_pagination/pagination--next-prev"

// Parallax

@import "_components/_parallax/parallax--background"

// Leader

@import "_components/_leader/leader"

// Filter

@import "_components/_filter/filter"

// Dropdown

@import "_components/_dropdown/dropdown--offset"
@import "_components/_dropdown/dropdown"

// Accordion

@import "_components/_accordion/accordion"

// Sidebar

@import "_components/_sidebar/sidebar--fixed"

/* For develop */

.margin
	height: 3000px
	width: 100%

@import "wp"

// Always at the end
@import "media"
