.yr-footer
  position: relative
  padding-top: 10px

.yr-footer-bg-img
  position: absolute
  background-image: url(../img/bg/footer_illustration.png)
  height: 150px
  width: 100%
  top: -150px
  background-size: cover
  background-repeat: no-repeat

.yr-contacts
  padding-bottom: 95px

.yr-footer-p
  margin-top: 5px
  font-size: 1.3125rem
  font-weight: 700
  color: #182023

.yr-footer-p-wrapper
  display: -webkit-flex
  display: -ms-flex
  display: flex

.yr-footer-p
  margin: 0

.yr-footer-p-container
  display: -webkit-flex
  display: -ms-flex
  display: flex
  flex-direction: column
  align-items: center
  justify-content: flex-end

.yr-footer-contact
  justify-content: flex-start

.yr-footer-p--light
  margin: 0
  font-size: 1.125rem
  color: #707173
  font-weight: 400
  line-height: 1.1
  text-align: center
  width: auto

.yr-footer-p--green
  color: $accent
  margin-left: 5px

.yr-container--footer
  flex-direction: column

.yr-footer-nav__heading
  border-bottom: 1px solid #e1e1e1
  position: relative
  padding-bottom: 20px
  width: 98%

  .yr-footer-p
    line-height: normal

  &::after
    content: ""
    width: 50px
    background: $accent
    height: 1px
    position: absolute
    bottom: -1px

.yr-footer-nav
  padding-right: 15px

.yr-footer-p-wrapper-date
  .yr-modal-p
    font-size: 0.875rem

.yr-no-m
  margin: 0 !important

.yr-footer-grid
  margin: 50px 0 !important

.yr-social-bar--footer
  justify-content: flex-start

.yr-footer-a
  transition: 0.5s
  &:hover
    color: $accent
    transition: 0.5s

.yr-footer-copyright
  font-weight: normal

.yr-copiright-bottom
  width: 100%
  display: -webkit-flex
  display: -ms-flex
  display: flex
  justify-content: space-between
  padding: 20px 0
  background: #f6f6f6

.digit-wrapper
  display: -webkit-flex
  display: -ms-flex
  display: flex

.digit
  margin-right: 15px

.yr-copiright-bottom__content
  display: -webkit-flex
  display: -ms-flex
  display: flex
  align-items: center
  justify-content: space-between
  width: 100%

.yr-p--digit
  margin: 0

.yr-copy-info
  margin: 0

.uk-container--footer
  width: 100%

.yr-to-top
  height: 45px
  width: 45px
  border: 3px solid $accent
  display: -webkit-flex
  display: -ms-flex
  display: flex
  align-items: center
  justify-content: center
  border-radius: 100px
  transition: 0.5s
  position: relative
  right: -100px

  i
    transition: 0.5s
    color: $accent

  &:hover
    background: $accent
    transition: 0.5s

    i
      color: #fff
      margin-bottom: 8px
      transition: 0.5s

.yr-footer-icon
  max-height: 40px

.footer-content-container
  display: -webkit-flex
  display: -ms-flex
  display: flex
  flex-direction: column
  align-items: center
