.yr-sertifications
  background: #f4faec

.yr-container--sertifications
  display: -webkit-flex
  display: -ms-flex
  display: flex
  flex-direction: column

.yr-about__heading--no-after
  width: 100%
  text-align: center
  padding: 0

  &::after
    display: none

.yr-sertificate
  border-left: 1px solid #e1e1e1
  display: -webkit-flex
  display: -ms-flex
  display: flex
  flex-direction: row
  margin: 0 !important
  border-right: 1px solid #e1e1e1
  padding: 0

.yr-sertifications-slider
  margin-top: 45px

.yr-sertifications__p-wrapper
  margin-right: 10px

  .yr-advantage-p
    font-size: 1.25rem
    color: #202b2f
    font-weight: 700
    margin-bottom: 10px

.yr-sertificate__p
  font-size: 1.0625rem
  color: #707173
  line-height: 1.18
  margin-top: 0

.yr-bold-p
  font-size: 1.25rem
  font-weight: 700
  color: #182023
  line-height: 1.1

.yr-social-bar
  width: 100%
  display: -webkit-flex
  display: -ms-flex
  display: flex
  justify-content: center
  align-items: center
  margin-top: 30px
  margin-bottom: 30px

  .yr-social
    color: #fff
    height: 42px
    width: 42px
    margin-left: 10px
    border: 3px solid $accent
    background: $accent
    border-radius: 100px
    display: -webkit-flex
    display: -ms-flex
    display: flex
    align-items: center
    justify-content: center
    transition: 0.5s

    &:last-child
      margin-left: 0

    &:hover
      background: #fff
      color: $accent
      transition: 0.5s

.yr-modal-content__wrapper
  width: 100%

.yr-modal-photo
  .yr-portret-wrapper
    max-height: 280px
    max-width: 280px
    height: 280px
    width: 280px
    overflow: hidden

.yr-modal-ul
  li
    font-size: 1.0625rem
    padding-right: 20px
    position: relative
    line-height: 1.1
    margin: 0 1

    &::after
      content: "•"
      position: absolute
      right: 0
      top: 50%
      transform: translate(0, -50%)
      font-size: 1.7rem
      color: $accent

.yr-sertifications-slider
  margin-top: 50px

.yr-link
  display: -webkit-flex
  display: -ms-flex
  display: flex
  align-items: center
  width: auto
  font-size: 1.0625rem
  float: right
  color: $accent

  i
    margin-right: 10px
    font-size: 0.6rem
    transition: 0.5s

  &:hover
    color: $accent

    i
      margin-right: 20px
      transition: 0.5s

.yr-sertificate-img
  display: -webkit-flex
  display: -ms-flex
  display: flex
  align-items: flex-start
  justify-content: center
  width: 50%

.sertifications-carousel__nav
  display: -webkit-flex
  display: -ms-flex
  display: flex
  justify-content: center
  margin-top: 35px

  .arrow--sertifi-next,
  .arrow--sertifi-prev
    border-color: $accent
    transform: rotate(90deg)

    &:hover
      background: $accent
      color: $white

.yr-modal-justify-content
  width: 100%
  display: -webkit-flex
  display: -ms-flex
  display: flex
  justify-content: space-between

  .contacts__title-h3
    color: $accent

.yr-modal-content
  width: 100%

  .yr-p
    margin-top: 0
    width: 65%

.yr-shadow-divider
  height: 5px
  width: 100%
  background: #f6f6f6
  margin: 15px 0

.yr-modal-p-wrapper
  display: -webkit-flex
  display: -ms-flex
  display: flex
  flex-direction: row

  .yr-modal-p
    margin: 0

    &:first-child
      position: relative
      padding-left: 10px
      margin-left: 10px

      &::after
        content: "•"
        color: $accent
        position: absolute
        left: 0
        font-size: 1.6rem
        top: 50%
        transform: translate(-50%, -50%)

.yr-modal
  padding: 40px
  width: 930px

  .uk-modal-dialog
    width: auto

  .uk-modal-close-default
    top: 30px
    left: 30px
    position: static

.yr-modal-photo-wrapper
  margin-left: 20px

.yr-modal-container
  display: -webkit-flex
  display: -ms-flex
  display: flex
